<!DOCTYPE html>
<html>

<body>

<h1>Please Give Us Some Feedback</h1>
<p>Do you like our service?</p>

<%= render 'form', like: @like %>

<a href="/improvements/new"> Need Improve</a>
</body>

</html>
