<p id="notice"><%= notice %></p>

<p>
  <strong>Thank you!</strong>
  <div>
  <%= @like.like%>
  </div>

</p>

<p id='number'></p>
<%= link_to 'Back', new_like_path %>


<script>
window.location.href 
var url = document.URL;
var array = url.split('/');
var NumLike = array[array.length-1];

document.getElementById("number").innerHTML = NumLike;

</script>
